{% extends 'layout.twig' %}
{% block content %}
<section>
   <div class="container">
      <main>
         <div class="split">
            <div class="left">
               <h1>About Me</h1>
               <p class="xl">My name is Shakima and I'm a self-taught developer.</p>
               <p>
                  I've been making things on the internet since 2008. When I'm feeling nostalgic, I peruse the internet archives and laugh in slight embarrassment at all the things I put on the web as a teenager. But hey, if you don't think your old code is awful, have you really grown as a developer?
               </p>
            </div>
            <div class="right">
               <img src="about-me.png">
            </div>
         </div>
         <div class="skills">
            <h2>My code journey</h2>
            <div class="timeline">
            <div class="entry">
                  <div class="time">Upcoming</div>
                  <div class="content">
                     <strong>Featrd v2</strong>
                     <p>Rebranding Featrd into a product review app using React, Express & Node JS</p>
                     <span class="tag app">webapp</span>
                  </div>
               </div>
            <div class="entry">
                  <div class="time">April 2022</div>
                  <div class="content">
                     <strong>Sinfully Coded</strong>
                     <p>Rebuilt my personal site from the ground up using Node JS, Express & Twig templating engine</p>
                     <span class="tag site">website</span>
                  </div>
               </div>
               <div class="entry">
                  <div class="time">Nov 2021</div>
                  <div class="content">
                     <strong>Reoccur (on hold)</strong>
                     <p>A wordpress plugin that lets users offer recurring subscriptions for products in their WooCommerce store.</p>
                     <span class="tag plugin">plugin</span>
                  </div>
               </div>
             <div class="entry">
                  <div class="time">Mar 2021</div>
                  <div class="content">
                     <strong>Featrd</strong>
                     <p>Build a webapp aimed at letting Saas companies collect feature requests & feedback from their users with a voting, commenting, login system and dashboard.</p>
                     <span class="tag app">webapp</span>
                  </div>
               </div>
            <div class="entry">
                  <div class="time">Nov 2019</div>
                  <div class="content">
                     <strong>Json -> CSV converter</strong>
                     <p>In order to jumpstart my PHP coding journey, I worked on a JSON to CSV converter written in PHP with user login, account management & authentication.</p>
                  <span class="tag app">webapp</span>
                  </div>
               </div>
                <div class="entry">
                  <div class="time">2018</div>
                  <div class="content">
                     <strong>Rellco</strong>
                     <p>E-commerce Site built on Wordpress & Woocommerce for selling handmade wallets.</p>
                     <span class="tag">e-commerce</span>
                  </div>
               </div>
            <div class="entry">
                  <div class="time">2012</div>
                  <div class="content">
                     <strong>Cre8tive Needle Things</strong>
                     <p>This site started offering tutorials, crochet and knitting patterns in addition to hosting my personal blog.</p>
                        <span class="tag site">Website</span>
                  </div>
               </div>
            <div class="entry">
                  <div class="time">2009 - 2013</div>
                  <div class="content">
                     <strong>Fashion Rock Party Hall</strong>
                     <em>Brooklyn, NY</em>
                     <p>Website for a rental hall in Brooklyn, NY. My first official job and first paid web development experience.</p>
                        <span class="tag site">Website</span>
                  </div>
               </div>
            <div class="entry">
                  <div class="time">2009</div>
                  <div class="content">
                     <strong>Cre8tive Intuition</strong>
                     <p>My first blog to move to it's own domain. The site was created with HTML, CSS and some light PHP for theming & contact forms.</p>
                        <span class="tag site">Website</span>
                  </div>
               </div>
               <div class="entry">
                  <div class="time">2008</div>
                  <div class="content">
                     <strong>Personal Blog Site</strong>
                     <p>My first blog site outside of a social network was hosted on a subdomain. It was created with HTML & CSS.</p>
                        <span class="tag site">Website</span>
                  </div>
               </div>
            </div>
         </div>
      </main>
   </div>
</section>
{% endblock %}