{% extends 'layout.twig' %}
{% block content %}
<section>
   <div class="container">
      <main>
         <div class="split">
            <div class="left">
               <h1>About Me</h1>
               <p class="xl">My name is Shakima and I'm a self-taught developer.</p>
               <p>
                  I've been making things on the internet since 2008. When I'm feeling nostalgic, I peruse the internet archives and laugh in slight embarrassment at all the things I put on the web as a teenager. But hey, if you don't think your old code is awful, have you really grown as a developer?
               </p>
            </div>
            <div class="right">
               <img src="/assets/images/about-me.webp" alt="Photo of me" width="420" height="360">
            </div>
         </div>
         <div class="about-grid">
         <div>
         <h2>You can find me on</h2>
         <ul class="social-links">
         <li>Twitter - <a href="https://twitter.com/mostdefkima3ff" target="_blank">@mostdefkima3ff</a></li>
         <li>GitHub - <a href="https://github.com/sinfullycoded" target="_blank">sinfullycoded</a></li>
         <li>Stack Overflow - <a href="https://stackoverflow.com/users/13211637/shakima-f" target="_blank">shakima-f</a></li>
         <li>Makerlog - <a href="https://getmakerlog.com/users/Mostdefkima3ff" target="_blank">mostdefkima3ff</a></li>
         </ul>     
         <h2>On the web</h2>
         <ul>
         <li>
         <a href="https://blog.icannowcode.com/post/customer-service-to-tech-role/" target="_blank">Read my interview</a> with <a href="https://twitter.com/namwa_swd" target="_blank">Namwa Sawasdiworn</a> about my coding journey.
         </li>
         <li>
         <a href="https://preview.mailerlite.com/d7o9s6" target="_blank">Here</a> is a shorter, interview with <a href="https://twitter.com/curtisjcummings" target="_blank">Curtis Cummings</a> at <a href="https://shareacoffee.com/" target="_blank">Share a coffee</a>
         </li>
         </ul>
         </div>
         <div class="skills">
         <h2>What I know</h2>
         <div class="skillset">
         <i class="devicon-html5-plain-wordmark"></i>
         <i class="devicon-css3-plain-wordmark"></i>
         <i class="devicon-javascript-plain"></i>
         <i class="devicon-jquery-plain-wordmark"></i>
         <i class="devicon-php-plain"></i>
         <i class="devicon-mysql-plain-wordmark"></i>
         <i class="devicon-graphql-plain-wordmark"></i>
         <i class="devicon-photoshop-line"></i>
         </div>
         <h2>Things I'm learning</h2>
         <div class="skillset">
         <i class="devicon-react-original-wordmark"></i>
         <i class="devicon-nodejs-plain"></i>
         </div>
         </div>
         </div>
      </main>
   </div>
</section>
{% endblock %}