{% extends 'layout.twig' %}
{% block content %}
<section>
    <div class="container"> 
    <h1 class="main">About</h1>
    <main>
        <p>🚧 Under construction</p>
    </main>
    </div>
</section>
{% endblock %}