{% extends 'layout.twig' %}
{% block content %}
<section class="home">
    <div class="container">
        <div id="left">
            <main>
                <div class="left">
                    <h1>
                        Hello there, <br /> 
                        Welcome to my personal corner of the web.
                    </h1>
                </div>
            </main>
        </div>
        <div id="right">
            <div id="hexcontainer">
                <!-- me -->
                <div class="hex1">
                    <div class="hex2">
                        <span class="hexlink" id="hl1">
                        </span>
                    </div>
                </div>
                <!-- ORANGE HEX -->
                <div class="hex1 code">
                    <div class="hex2">
                    <span class="hexlink" id="hl2">
                    </span>
                    </div>
                </div>
                <br />
                <!-- TRANSPARENT HEX -->
                <div class="hex1 lottie">
                    <div class="hex2">
                   <span class="hexlink" id="hl4">
                    </span>
                    </div>
                </div>
                <!-- BURGUNDY HEX -->
                <div class="hex1 color">
                    <div class="hex2 color">
                    <span class="hexlink" id="hl5">
                    </span>
                    </div>
                </div>
                <!-- projects -->
                <div class="hex1 color">
                    <div class="hex2">
                        <span class="hexlink" id="hl6">
                        </span>
                    </div>
                </div>
                <br />
                <!-- lottie -->
                <div class="hex1 color">
                    <div class="hex2">
                        <span class="hexlink" id="hl8">
                        </span>
                    </div>
                </div>
                <div class="hex1 color">
                    <div class="hex2">
                        <span class="hexlink" id="hl9">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}