{% extends 'layout.twig' %}
{% block content %}
<section class="home">
    <div class="container">
        <div id="left">
            <main>
                <div class="left">
                    <h1>
                        Hello there, <br /> 
                        Welcome to my personal corner of the web.
                    </h1>
                </div>
            </main>
        </div>
        <div id="right">
            <img src="/assets/images/me-drawing-color.webp" alt="Self Portait Drawing" width="700" height="626">
        </div>
    </div>
</section>
{% endblock %}