/* --- HEX LINKS --- */
#hexcontainer {
    position: relative;
    margin: 50px auto 35px auto;
    padding: 20px 0;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
}

.hex1,
.hex2 {
    position: relative;
    display: inline-block;
    height: 180px;
    width: 160px;
    overflow: hidden;
}

.hex1 {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
    margin: -20px 10px;
}

.hex2 {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}

.hexlink {
    -webkit-transform: rotate(-120deg);
    -moz-transform: rotate(-120deg);
    -ms-transform: rotate(-120deg);
    -o-transform: rotate(-120deg);
    transform: rotate(-120deg);
    position: relative;
    display: inline-block;
    text-decoration: none;
    height: 180px;
    width: 160px;
    background-position: center center;
    background-size: cover;
}


#hl2 {
    background-image: url('/assets/images/code.png');
    background-position: left;
    filter: grayscale(100%)
}

#hl4 {
    background-color: #ececec;
    background-image: url('/assets/images/lottiedottie.png');
    background-size: contain;
    filter: grayscale(100%)
}

#hl1 {
    background-image: url('/assets/images/me.jpg');
}

.color {
    display: none;
}

.hex1.code {
    margin-left: 5px;
}

.hex1.lottie {
    margin-left: -82px;
    margin-top: -5px;
}

@media only screen and (min-width : 1224px) {

    .hex1,
    .hex2 {
        height: 220px;
        width: 190px;
    }

    .hexlink {
        height: 220px;
        width: 190px;
    }

    .hex1.lottie {
        margin-left: 0;
        margin-top: 0;
    }

    .hex1.code {
        margin-left: 0;
    }

    #hexcontainer {
        display: block;
        margin: 50px 0 35px 0;
        grid-template-columns: unset;
        grid-template-rows: unset;
        justify-content: unset;
    }

    .color {
        display: inline-block;
    }

    #hl6 {
        background-image: url('/assets/images/code.png');
        background-position: left;
        filter: grayscale(100%)
    }

    #hl5 {
        background: var(--secondary-color)
    }

    #hl4 {
        background: transparent
    }

    #hl2 {
        background: var(--primary-color)
    }

    #hl8 {
        background-color: #ececec;
        background-image: url('/assets/images/lottiedottie.png');
        background-size: contain;
        filter: grayscale(100%)
    }

    #hl9 {
        background: var(--tertiary-color)
    }
}