.projects-list {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    justify-content: center;
    padding: 20px;
}

.projects-list>div {
    display: block;
    margin: 0;
}

@media only screen and (min-width : 1224px) {

    .projects-list {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        grid-gap: 40px;
    }
}