* {
    box-sizing: border-box;
}

:root {
    --primary-color: #721932;
    --secondary-color: #cb440f;
    --bright-orange: #ff9449;
    --muted-grey: #f3f5f7;
    --tertiary-color: #c415bc;
}

body {
    background: #f9f9fd;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 12.5pt;
    padding: 0;
    margin: 0;
    position: relative;
}

.container {
    max-width: 60ch;
    margin: 0 auto;
}

.blog-grid>div>p {
    margin: 6px 0;
}

.tags {
    margin: 0;
}

p {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Neuton', serif;
    letter-spacing: 1.2px;
    margin: 0 0 10px 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #000
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    border-bottom: 1px dotted;
}



.sp h2 {
    font-size: 1.8rem;
    margin: 10px 0 10px;
}

div.post-head {
    position: relative;
}

div.post-head::after {
    background: linear-gradient(to right, var(--primary-color), var(--tertiary-color), var(--bright-orange), var(--secondary-color));
    height: 3px;
    content: " ";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.meta {
    padding: 0 0 10px 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: .85rem;
}

details.mtoc {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    display: block;
}

details.mtoc summary {
    text-transform: uppercase;
    font-size: .8rem;
}

.blog-grid>div>h3 {
    margin: 10px 0;
}

.structured-markup ul {
    list-style-type: none;
}

.social .uil {
    font-size: 18.5pt;
}

hr {
    height: 1px;
    border: none;
    background: #ddd;
    margin: 20px 0;
}

hr.pretty {
    background: linear-gradient(#721932, #721a33, #ff9449, #cb440f);
    height: 3px;
    border: none;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

body[data-theme="dark"] a {
    color: var(--bright-orange);
}

a:hover {
    color: var(--bright-orange);
}

body[data-theme="dark"] a:hover {
    color: #f3aa77;
}


nav .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    text-align: center;
}

footer p {
    margin: 0;
}

img {
    aspect-ratio: attr(width) / attr(height);
}

.logo {
    padding: 20px 0
}

.logo a:hover,
p.mainimage a:hover {
    border: none;
}

#nav {
    list-style: none;
    margin-right: 0;
}

#nav li {
    display: inline-block;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

#nav li a {
    display: block;
    padding: 5px 20px;
    position: relative;
    color: #000;
}


#nav li a:before {
    content: "//";
    position: absolute;
    right: 0;
    margin-right: -10px;
    display: inline-block;
    font-weight: bold;
    color: var(--tertiary-color);
}

#nav li a:hover {
    text-decoration: overline;
    border: none;
}

#nav li:last-child a:before {
    display: none;
}

#nav li.active a {
    font-weight: bold;
    color: var(--secondary-color);
}

footer>.container {
    text-align: center;
    padding: 20px 5px;
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 1;
    border-top: 1px solid #ddd;
}

#nav {
    padding: 0;
}

header.container {
    background: var(--primary-color);
    background-image: url("colored-bg.svg");
    padding: 20px 40px;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 80%;
    margin: 20px auto 40px;
}

.post-grid {
    display: block;
    position: relative;
    min-height: 200px;
}

.top-margin-large {
    margin-top: 15px;
}

div.post-container {
    padding: 0 !important;
}

.social i {
    font-size: 2rem;
    margin: 4px 0;
}

i.la-comment-alt {
    border-bottom: 1px solid;
    margin-bottom: 5px;
    padding-bottom: 15px;
}

span.cat {
    background: var(--tertiary-color);
    color: #fff;
    font-size: .7rem;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 4px;
    letter-spacing: 1px;
}

.blog-grid>div>p.mainimage {
    margin: 15px 0 10px;
}

p.mainimage a {
    display: flex;
}

span.tag a {
    color: inherit;
}

.blog-grid>div>span.cat a {
    color: var(--tertiary-color);
}

.blog-grid>div>span.cat a:hover {
    color: #90178a;
}

.blog-grid>div>span.cat {
    margin: 10px 0;
    color: var(--tertiary-color);
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    letter-spacing: 1px;
    background: transparent;
}

.toc {
    display: none;
}

.linkable:before {
    content: '\e9a2';
}

.linkable:before,
.linkable:before {
    font-family: unicons-line;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span.tag {
    font-family: monospace;
}

.toc h5 {
    margin: 0 0 20px 0;
}

.breadcrumb {
    padding: 0 20px;
    display: block;
}

.breadcrumb ul {
    padding: 0;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb li a {
    text-transform: capitalize;
}

.breadcrumb li:after {
    content: "»";
    margin: 0 5px;
}

.breadcrumb li:last-of-type:after {
    display: none;
}

.comment-holder {
    background: #e8e8f0;
    padding: 20px;
    margin: 20px 0;
}

.comment-form-holder h5 {
    padding: 0 0 20px 0;
}

.comment-form-holder {
    background: #e8e8f0;
    padding: 20px;
    margin: 20px 0;
    display: none;
}

.comment-form-holder.show {
    display: block;
}

.comment-head {
    font-family: 'Neuton', serif;
    letter-spacing: 1.2px;
    font-weight: bold;
}

.split {
    position: relative;
}

.split:after {
    background: linear-gradient(to right, var(--primary-color), var(--tertiary-color), var(--bright-orange), var(--secondary-color));
    height: 3px;
    content: " ";
    position: absolute;
    width: 100%;
    bottom: 22px;
    left: 0;
}

.right {
    text-align: center;
}

.content span.tag {
    font-size: .7rem;
}

.content p {
    margin: 0 0 5px;
}

i[class^="devicon"] {
    margin-right: 10px;
}

.about-grid h2 {
    padding: 10px;
    border-radius: 6px;
}

.about-grid ul li {
    margin-bottom: 5px;
}

.social-links li {
    font-weight: bold;
}

.social-links a {
    margin-left: 2px;
    font-weight: normal;
}

.links img {
    max-width: 12px;
    margin-left: 5px;
}

.links a {
    display: inline-flex;
    align-items: center;
}

label,
input {
    transition: all 0.2s;
}

textarea:focus,
input[type="text"]:focus {
    outline: 0;
    border-color: var(--primary-color);
}

button.primary:hover {
    background: #191718;
}

button {
    border: none;
    padding: 10px 10px;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

button.primary {
    background: #000;
    color: #fff;
}

.comment-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.form-item {
    display: inline-block;
}

.form-item.inline {
    position: relative;
    display: inline-block;
}

.form-item.inline.block {
    display: block;
    margin-bottom: 20px;
}

.form-item label.comments-abs {
    top: -20px;
}

.form-item label {
    position: absolute;
    left: 0;
    top: 0;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: bold;
    letter-spacing: .5px;
}

.form-item input[type="text"] {
    margin: 22px 0 0 0;
    border-color: #000;
    border-style: solid;
    border-width: 0 3px 1px 0;
    padding: 10px;
    background: transparent;
}

.comment-form textarea {
    display: block;
    width: 100%;
    min-height: 150px;
    margin-bottom: 15px;
    border-color: #000;
    border-style: solid;
    border-width: 1px 3px 3px 1px;
    padding: 20px;
    margin: 22px 0 10px 0;
}

/* 
 * theme switcher
 */

#theme-switcher {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: unicons-line;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

#theme-switcher:after {
    content: '\e9cc';
    color: #ef9e03;
    text-shadow: 0 0 20px #ef9e03;
}

#theme-switcher:checked::after {
    content: '\ea8b';
    color: antiquewhite;
    text-shadow: 0 0 20px antiquewhite;
}

.nav-left {
    display: flex;
    align-items: center;
}

#nav li a {
    padding: 5px 15px;
}

.sp {
    padding: 20px;
    margin-bottom: 20px;
    display: block;
    background: #fff;
    box-shadow: 0 0 14px rgb(0 0 0 / 12%);
}

.right img {
    max-width: 100%;
}

.mtoc ul {
    list-style: none;
    padding-left: 0;
}

.mtoc ul li a:before {
    content: "◇";
    margin-right: 5px;
}

.mtoc ul li a {
    padding: 5px 0;
    display: block;
    margin: 0 0 5px 0;
    font-size: .8rem;
}

.main-image {
    border-radius: 8px;
}

.blog-grid {
    display: grid;
    grid-gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 350px;
    justify-content: center;
}

.blog-grid>div>p>a {
    color: var(--secondary-color);
    font-weight: bold;
}

/* 
 * Dark mode 
 */

body[data-theme="dark"] {
    background: #22222e;
    color: #cbcbcc;
}

body[data-theme="dark"] #nav li a {
    color: #fff;
}

body[data-theme="dark"] h1,
body[data-theme="dark"] h2 {
    color: #fff;
}

body[data-theme="dark"] #nav li.active a {
    color: var(--secondary-color);
}

body[data-theme="dark"] .blog-post,
body[data-theme="dark"] div.sp,
body[data-theme="dark"] .comment-holder,
body[data-theme="dark"] .comment-form-holder {
    background: #353342;
}

body[data-theme="dark"] .comment-form textarea,
body[data-theme="dark"] input[type="text"] {
    background: #131722;
    border: none;
    color: #fff;
}

body[data-theme="dark"] p.meta {
    color: #b1b2c0;
}

body[data-theme="dark"] ul.comment-items li div {
    border-color: #131722;
}

body[data-theme="dark"] button.primary {
    background: var(--secondary-color);
}

body[data-theme="dark"] button.primary:hover {
    background: #a44018;
}

body[data-theme="dark"] .hljs {
    background: #131722;
}

body[data-theme="dark"] h1.main {
    background: #353342;
}

body[data-theme="dark"] .toc ul li a {
    color: #fff;
}

body[data-theme="dark"] .toc ul li a.active,
body[data-theme="dark"] .toc ul li a:hover,
body[data-theme="dark"] .toc ul li a.visible {
    color: var(--secondary-color);
}

body[data-theme="dark"] hr {
    background: #302934;
}

body[data-theme="dark"] footer>div.container {
    border-color: #302934;
}

body[data-theme="dark"] .about-grid h2 {
    background: #353342;
    box-shadow: 0 0 6px rgb(0 0 0 / 9%);
}

body[data-theme="dark"] i[class^="devicon"] {
    color: #fff;
}

body[data-theme="dark"] h1 a,
body[data-theme="dark"] h2 a,
body[data-theme="dark"] h3 a,
body[data-theme="dark"] h4 a,
body[data-theme="dark"] h5 a,
body[data-theme="dark"] h6 a {
    color: #fff
}

body[data-theme="dark"] .logo img {
    filter: brightness(1.1) drop-shadow(2px 4px 4px #00000040);
}

div#right {
    padding: 0 50px;
}


div#right img {
    max-width: 100%;
}

.comments h2 {
    font-size: 1.5rem;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comments>h2>.uil-comment {
    font-size: 1.2rem;
}

h1.main {
    text-align: center;
    background: #f0f0fd;
    padding: 30px;
    border-radius: 0;
    margin-bottom: 30px;
}

span.tag:after {
    content: ", ";
}

.share a:hover {
    border: none;
    color: var(--secondary-color)
}

.no-underline:hover {
    border: none
}

span.tag:last-of-type:after {
    display: none;
}

ul.comment-items li {
    padding: 10px 0;
}

ul.comment-items li:last-of-type div {
    border: none;
}

ul.comment-items {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.comment-items li {
    display: flex;
    font-size: .85rem;
}

ul.comment-items li div {
    border-bottom: 1px dotted;
    padding-bottom: 20px;
    width: 100%;
}

ul.comment-items li.avatar img {
    border-radius: 50px;
}

ul.comment-items li>span.avatar img {
    border-radius: 50px;
    margin-right: 20px;
}

.split {
    padding: 20px;
}

i[class^="devicon"] {
    margin-bottom: 20px;
    display: inline-block;
}

.about-grid {
    padding: 20px;
}

.skillset {
    margin: 20px 0;
    padding: 10px;
}

.about-grid h2 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1.2px;
}


i[class^="devicon"] {
    font-size: 2.5rem;
}

#left .left {
    font-size: 1.3rem;
    padding: 20px;
}

ul.social-links {
    margin: 20px 0;
}

.projects-list {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    justify-content: center;
    padding: 20px;
}

.projects-list>div {
    display: block;
    margin: 0;
}

.note {
    text-align: center;
    margin-bottom: 0;
    padding: 20px;
}

section.home>div.container {
    padding: 0 0 20px;
}

/* 
 * Desktop styles 
 */
@media only screen and (min-width : 1224px) {

    section.home>div.container > div {
        width: 50%;
    }

    div#right {
        padding: 0;
    }

    .note {
        margin-bottom: 40px;
        padding: 0;
    }

    .projects-list {
        grid-template-columns: repeat(3, 28%);
        padding: 0;
        grid-gap: 40px;
    }

    #left .left {
        padding: 0;
    }

    div.split:after {
        bottom: 2px;
    }


    .about-grid {
        padding: 0;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    h5 {
        font-size: 1.4rem;
    }

    h6 {
        font-size: 1.2rem;
        font-weight: bold;
    }

    div.split {
        padding: 0;
    }

    .comment-form-holder {
        padding: 20px 40px;
        margin: 20px 0 40px;
    }

    .comment-head {
        font-size: 1rem;
    }

    .blog-grid {
        margin-bottom: 30px;
    }

    .blog-grid {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(3, 350px);
        justify-content: initial;
    }

    .comments>h2>.uil-comment {
        font-size: 1.8rem;
    }

    details.mtoc {
        display: none;
    }

    .breadcrumb {
        padding: 0;
    }

    pre.hljs {
        padding: 20px;
    }

    .post-grid {
        display: flex;
        align-items: flex-start;
    }

    div.sp {
        padding: 20px 40px;
        margin: 20px 0 40px;
    }

    #nav {
        margin-right: 10px;
    }

    .toc {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        min-width: 250px;
        margin-left: 30px;
        display: block;
    }

    .sp h2 {
        font-size: 2.5rem;
        margin: 20px 0 10px;
    }

    .toc ul,
    .mtoc ul {
        list-style: none;
        padding-left: 0;
    }

    .toc ul li a:before {
        content: "◇";
        margin-right: 8px;
    }

    .toc ul li a {
        padding: 8px 0 8px 0;
        display: block;
        margin: 0 0 5px 0;
        font-size: .8rem;
        color: #000;
    }

    .toc ul li a.active,
    .toc ul li a:hover,
    .toc ul li a.visible {
        color: var(--primary-color);
        border: none;
    }

    .toc ul li a.active:before,
    .toc ul li a:hover,
    .toc ul li a.visible:before {
        content: "◆";
        margin-right: 8px;
    }

    .about-grid {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
    }

    .about-grid>div {
        width: 50%;
    }

    .about-grid>div:first-of-type {
        margin-right: 20px;
    }

    .about-grid>div:last-of-type {
        margin-left: 20px;
    }

    .about-grid h2 {
        font-size: 1.2rem;
        padding: 10px;
    }

    i[class^="devicon"] {
        font-size: 3.5rem;
    }

    .smaller i[class^="devicon"] {
        font-size: 1.2rem;
    }

    .skillset {
        margin: 30px 0;
    }

    ul.social-links {
        margin: 30px 0;
    }

    .entry {
        display: grid;
        align-items: baseline;
        grid-template-columns: 12% auto;
    }

    .content strong:before {
        content: "◆";
        margin-left: -29px;
        margin-right: 10px;
        font-size: 1.2rem;
        z-index: 10;
    }

    .content {
        padding: 10px 20px;
        position: relative;
        z-index: -1;
        display: block;
    }

    .time {
        position: relative;
        font-weight: bold;
        padding: 10px 20px;
        text-align: right;
    }

    div.timeline>.entry>.content:before {
        content: " ";
        border-left: 1px solid;
        height: 100%;
        display: block;
        position: absolute;
        margin-left: -21px;
        z-index: -1;
        top: 20px;
    }

    div.timeline>.entry:last-of-type>.content:before {
        display: none;
    }

    div.timeline>.entry:last-of-type>.content {
        border: none;
    }

    .xl {
        font-size: x-large;
    }

    .split {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 60px;
    }

    .right img {
        max-width: 420px;
    }

    section.home>div.container {
        padding: 45px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    section.home {
        min-height: calc(100vh - 199px);
        text-align: left;
    }

    section {
        min-height: calc(100vh - 207px);
        text-align: left;
    }

    .left h1 {
        font-size: 3.5rem;
        line-height: 1.2;
    }

    div.container {
        max-width: 75%;
        margin: 0 auto;
        padding: 0;
    }

    .container {
        padding: 0;
    }

    header.container {
        padding: 10px 80px;
    }

    header.container h1 {
        font-size: 3rem;
    }

    h1.main {
        font-size: 3rem;
        border-radius: 6px;
    }

    .comment-holder {
        padding: 40px 50px;
    }

    .post-grid>div:not(.post-container) {
        padding: 20px;
        margin-top: 60px;
    }

    .sp h1 {
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }

    nav div.container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    footer>div.container {
        padding: 25px 10px;
        font-size: .8rem;
        display: flex;
        justify-content: space-between;
        line-height: 1;
        border-top: 1px solid #ddd;
        flex-direction: row;
        text-align: left;
    }

    footer .icons {
        font-size: 1.2rem;
    }

}

pre.hljs {
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.pj-img {
    border-radius: 6px;
    width: 100%;
}

.blog-post {
    background: white;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 0 14px rgb(0 0 0 / 12%);
    padding: 30px;
}

.pj-desc {
    padding: 20px;
}